extends layout

block content
  h1.text-uppercase.text-center= title
  div.container-fluid.bg-secondary.border.rounded
    h4.text-center: error This app is developed as a part of #[a(href='https://www.theodinproject.com/home') #[strong The Odin Project]] with the help of #[a(href='https://developer.mozilla.org/en-US/docs/Learn/Server-side/Express_Nodejs') #[strong MDN'S Express tutorials.]]

  h1 Dynamic content

  if error
    p Error getting dynamic content.
  else
    p The library has the following record counts:

    ul
      li #[strong Books:] !{data.book_count}
      li #[strong Copies:] !{data.book_instance_count}
      li #[strong Copies available:] !{data.book_instance_available_count} 
      li #[strong Authors:] !{data.author_count}
      li #[strong Genres:] !{data.genre_count}
